/* title-main #212121 */
/* main #757575
*/
/* wthite accent #FFFFFF */
/* accent #2196F3 */

/* light background #E5E5E5 */
/* dark background #2F303A */
/* white background #FFFFFF */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #fff;
  --secondary-bgd-color: #F5F4FA;
}
body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0,03em;
}

.list {
  list-style: none;
}

/* logo */

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
 
}
.footer .logo {
  color: var(--primary-white-color);
}
.logo-accent {
  color: var(--accent-color);
}

/* site nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current{
  color: var(--accent-color);
}

.head-contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.head-contacts .link:hover,
.head-contacts .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--title-text-color);
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

/* section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  text-align: center;
}
/* features */
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  }

.feature-list .text {
  font-size: 14px;
  line-height: 1.7;
}

/* team */
.section.team {
  background-color: var(--secondary-bgd-color);
}
.team-list .title {
  color: var(--title-text-color);
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;

}

/* button */
.button {
  color: var(--title-text-color);
  background-color: var(--secondary-bgd-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  cursor: pointer;

}
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* portfolio main */
.cases-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.cases-text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-white-color);
  text-decoration: none;
}
.contacts {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  color: var(--primary-text-color);
  text-decoration: none;
}
  
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--title-text-color)
}